{% extends 'header.html' %}

{% block content %}
<div class="container-fluid top-nav">
    <div class="row py-5 justify-content-center">
        <div class="col-3 text-center">
            <a href="{% url 'stu_dash' %}"><button class="btn btn-special">Home</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'stu_requests' %}"><button class="btn btn-special">View Attendance Requests</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'logout' %}"><button class="btn btn-special">Logout</button></a>
        </div>
    </div>
</div>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h1>Student Dashboard</h1>
<h2>Welcome {{user}}</h2>

<h3>You are a member of the following clubs</h3>
{%if clubs%}
<ul> 
    {%for club in clubs%}
    <li>{{club.club}}</li>
    {%endfor%}
</ul>
{%else%}
<p>You are not part of any clubs yet</p>
{%endif%}
{% endblock %}