{% extends '../base.html' %}
{%block title%}Attendance Organizer|Personal Details {%endblock%}

{% block content %}
<h2>Enter Details</h2>

<p>
    You were redirected here because your details are not in the system yet.
    Please enter the required details
</p>

<form method="post">
    {%csrf_token%}
    {%for field in form%}
    <div class="fieldWrapper">
        {{field.label}}
        {{field}}
    </div>
    {%endfor%}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}