{% extends "header.html" %}

{%block content%}
<div class="container-fluid top-nav">
    <div class="row py-5 justify-content-center">
        <div class="col-3 text-center">
            <a href="{% url 'dept_dash' %}"><button class="btn btn-special">Home</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'attendance_requests' %}"><button class="btn btn-special">View attendance requests</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'view_students' %}"><button class="btn btn-special">View Students</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'logout' %}"><button class="btn btn-special">Logout</button></a>
        </div>
    </div>
</div>
<div class="text-center">
<h1>Department Dashboard</h1>
<h2>Welcome {{user.name}}</h2>

<h3>You are a member of the following department</h3>
    <h4>{{department}}</h4>

<a href="{% url 'attendance_requests' %}"><button class="btn btn-primary">View attendance requests</button></a>
<a href="{% url 'view_students' %}"><button class="btn btn-primary">View Students</button></a>
</div>
{%endblock%}