{% extends "header.html" %}

{%block content%}
<div class="container-fluid top-nav">
    <div class="row py-5 justify-content-center">
        <div class="col-3 text-center">
            <a href="{% url 'dept_dash' %}"><button class="btn btn-special">Home</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'attendance_requests' %}"><button class="btn btn-special">View attendance requests</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'view_students' %}"><button class="btn btn-special">View Students</button></a>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'logout' %}"><button class="btn btn-special">Logout</button></a>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    
    {% if history %}
    <div class="text-center p-4">
    {% with history|first as hist %}
    <h2>The Student history for {{hist.student.user.name}} in the club {{hist.club.name}}</h2>
    {% endwith %}
    </div>
    <table class="table table-bordered mt-4" style="background-color: #fff;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Approval</th>
          </tr>
        </thead>
        <tbody>
        
        {% for h in history %}
          <tr>
            
            <td scope="row">{{ h.date }}</td>
            <td>{% if h.approval%} Approved {% else %} Rejected {% endif %}</td>    
            
            
          </tr>
          {% endfor %}
          {% else %}
            <p>There are no students as of now</p>
        {% endif %}
        </tbody>
      </table>
</div>  

{%endblock%}