{% extends '../base.html' %}
{%block intStylesheets%}
<link href="/static/css/dashboard.css" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}Attendance Organizer| Dashboard {%endblock%}
{%block navLinks%}
<a class="navLink" href="{% url 'dept_dash' %}">
    <li>Home</li>
</a>
<a class="navLink" href="{% url 'attendance_requests' %}">
    <li>View Attendance Requests</li>
</a>
<a class="navLink" href="{% url 'view_students' %}">
    <li>View Students</li>
</a>
<a class="navLink" href="{%url 'logout'%}">
    <li>Logout</li>
</a>
{%endblock%}
{%block content%}
<section>
    {% if history %}
    <div class="text-center p-4">
        {% with history|first as hist %}
        <h2>The Student history for {{hist.student.user.name}} in the club {{hist.club.name}}</h2>
        {% endwith %}
    </div>
    <table class="table table-bordered mt-4" style="background-color: #fff;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Approval</th>
            </tr>
        </thead>
        <tbody>

            {% for h in history %}
            <tr>

                <td scope="row">{{ h.date }}</td>
                <td>{% if h.approval%} Approved {% else %} Rejected {% endif %}</td>


            </tr>
            {% endfor %}
            {% else %}
            <p>There is no recorded history for this student</p>
            {% endif %}
        </tbody>
    </table>
</section>

{%endblock%}