{% extends '../base.html' %}
{%block title%}Attendance Organizer| Dashboard {%endblock%}
{%block navLinks%}
<a class="navLink" href="{% url 'pres_dash' %}">
    <li>Home</li>
</a>
<a class="navLink" href="{% url 'personal_attendance' %}">
    <li>View Attendance Requests</li>
</a>
<a class="navLink" href="{%url 'logout'%}">
    <li>Logout</li>
</a>
{%endblock%}

{% block content %}
<section>
    <h2>Add New Members</h2>

    <h3>{{club}}</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Sl. No.</th>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for student in students%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student}}</td>
                <td>{{student.dept}}</td>
                <td>
                    <form method="post">
                        {%csrf_token%}
                        <input type="hidden" name="student" value="{{student.id}}">
                        <button class="btn btn-success" type="submit">Add</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</section>
{% endblock %}