{% extends '../base.html' %}
{%block title%}Attendance Organizer| Dashboard {%endblock%}
{%block navLinks%}
<a class="navLink" href="{% url 'pres_dash' %}">
    <li>Home</li>
</a>
<a class="navLink" href="{% url 'personal_attendance' %}">
    <li>View Attendance Requests</li>
</a>
<a class="navLink" href="{%url 'logout'%}">
    <li>Logout</li>
</a>
{%endblock%}


{% block content %}

<h2>President Dashboard</h2>
<section>
    <h3>You are a leader in the following clubs</h3>
    {%if leadClubs%}
    <ul>
        {%for club in leadClubs%}
        <li><a href="{%url 'club_view' club.id%}">{{club.name}}</a></li>
        {%endfor%}
    </ul>
    {%else%}
    <p>You have not registered your club yet. <a href="">Register</a></p>
    {%endif%}
</section>
<section>
    <h3>You are a member of the following clubs</h3>
    {%if clubs%}
    <ul>
        {%for club in clubs%}
        <li>{{club.club}}</li>
        {%endfor%}
    </ul>
    {%else%}
    <p>You are not a member of any club yet</a></p>
    {%endif%}
</section>
{% endblock %}