{% extends '../base.html' %}
{%block title%}Attendance Organizer| Club Management {%endblock%}
{%block navLinks%}
<a class="navLink" href="{% url 'pres_dash' %}">
    <li>Home</li>
</a>
<a class="navLink" href="{% url 'personal_attendance' %}">
    <li>View Attendance Requests</li>
</a>
<a class="navLink" href="{%url 'logout'%}">
    <li>Logout</li>
</a>
{%endblock%}
{%block content%}
<section>
    <h2>Club Management</h2>

    <h3>{{club}} Members</h3>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Sl. No.</th>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            {%for member in members%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{member.member}}</td>
                <td>{{member.member.dept}}</td>
                <td><a href="{%url 'manage_members' club.id member.member.id%}"><button
                            class="btn btn-success">Manage</button></a></td>
                <td><a href="{%url 'members_attendance' club.id member.member.id%}"><button
                            class="btn btn-primary">View</button></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <p class="text-center"><a href="{%url 'add_members' club.id%}"><button class="btn btn-primary">Add new
                members</button></a></p>
</section>
{% endblock %}