
{% extends "header.html" %}

{% block content %}

<div class="body">
    <div class="row justify-content-center image-row mt-4">
        <div class="col-12 text-center">
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.name }}</h1>
            <br>
            <p style="font-size: larger;">
                Here are your details!!!<br>
                Email : {{ user.email }}<br>
                Name : {{ user.name }}<br>
                Phone No. : {{ user.phone }}<br>
                Date of birth : {{ user.date_of_birth }}
            </p>
            <p class="mt-4"><a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a></p>
        {% else %}
            <h1>Welcome, You are not logged in!</h1>
            <br>
            <p>Already have an account? <a href="{% url 'login' %}"><button class="btn btn-primary">Login Here</button></a></p>
            <p> Don't have an account? <a href="{% url 'register' %}"><button class="btn btn-primary">Register Here</button></a></p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}